<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="40">
    <mat-toolbar color="primary" fxLayoutAlign="center center"
      >ChaFit Login</mat-toolbar
    >
    <form
      fxLayoutAlign="strech"
      fxLayout="column"
      class="login-form"
      [formGroup]="formGroup"
      (ngSubmit)="loginProces()"
    >
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
        />
      </mat-form-field>
      <button mat-raised-button type="submit">Login</button>
    </form>
  </mat-card>
</div>
